<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marmot的博客</title>
    <style>
.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
</style>
</head>
<body>
<div class="cities">
<h2>Marmot</h2>
<p>
    Marmot中文名土拨鼠，俗称旱獭，是一种生活在高寒山区的动物，土拨鼠主要分布于北美大草原至加拿大以及俄罗斯，
    中亚和东欧草原。在我国主要分布于黑龙江、新疆、内蒙古等地，青海省牧区也有分布拨鼠。
</p>
</div>

<div class="cities">
<h2>Python</h2>
<p>Python（英国发音：/ˈpaɪθən/ 美国发音：/ˈpaɪθɑːn/）, 是一种面向对象的解释型计算机程序设计语言，
    由荷兰人Guido van Rossum于1989年发明，第一个公开发行版发行于1991年。P
    ython是纯粹的自由软件， 源代码和解释器CPython遵循 GPL(GNU General Public License)协议。
</p>
</div>

<div class="cities">
<h2>Django</h2>
<p>
    Django是一个开放源代码的Web应用框架，由Python写成。采用了MVC的框架模式，
    即模型M，视图V和控制器C。它最初是被开发来用于管理劳伦斯出版集团旗下的一些以新闻内容为主的网站的，
    即是CMS（内容管理系统）软件。并于2005年7月在BSD许可证下发布。
    这套框架是以比利时的吉普赛爵士吉他手Django Reinhardt来命名的
</p>
</div>

</body>
</html>